.estilo1 {
    display: flex;
    justify-content: space-around;
    position: relative;
}
.button {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(16, 54, 84);

}
.p {
    display: flex;
}
.divCarro {
    justify-content: center;
    display: 'flex',
}
.buttonCarro {
    background-color: steelblue;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    border-radius: 9px;
    cursor: pointer;
}
.buttonCarro:hover {
    background-color: rgb(16, 54, 84);

}