.containerItemDetail {
    height: 80%;
    width: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    border: 5px solid steelblue;
    padding: 0 10px;
    border-radius: 9px;
}
.subContainer {
    width: 90%;
    margin: 5px
}
.price {
    font-size: larger;
}
.imagenCel {
    height: 10rem;
    margin: 3px
}
.modeloCel {
    text-align: center;

}